
body {
  font-family: Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 1000px;
}
.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
